<div class="table-responsive">
  <form method="post" action='/tasks/edit/{{data.id}}'>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th width="200">Employee Number: </td>
          <td><input type="text" name="enumber" required 
                  value="{{data.taskTitle}}"></td>
        </tr>
        <tr>
          <th>Employee's First Name: </td>
          <td><input type="text" name="fname" required size="40" 
                  value="{{data.taskDiscription}}"></td>
        </tr>
        <tr >
       <th>Task Milestones</th>

        <td id="milestone-form">
            <input type="text" name="taskMilestone" required 
              placeholder="Milestone_0"><br>
        </td>
        <tr>
          <!--<th>Employee's Last name </td>
          <td><input type="text" name="lname" size="40" 
                  value="{{data.employeeLName}}"></td>-->
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
              <input type="button" value="Add Milestone" class="btn" onclick="addMilestone()">
              <input type="submit" value="Save" class="btn btn-success">
              <input type="button" value="Cancel" class="btn btn-danger"
                  class="cancel" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
